<form action="/authors/add" method="POST">
  <label for="name">Nombre del Autor</label>
  <input type="text" name="name" value="" placeholder="Nombre del Autor" required>
  <br>
  <label for="lastname">Apellidos(s) del autor</label>
  <input type="text" name="lastName" value="" placeholder="Apellido(s) del autor" required>
  <br>
  <label for="nationality">Nacionalidad</label>
  <input type="text" name="nationality" value="" placeholder="Nacionalidad">
  <br>
  <label for="birthday">Fecha de nacimiento</label>
  <input type="date" name="birthday" value="">
  <br>
  <label for="pictureUrl">URL de la fotografía</label>
  <input type="text" name="pictureUrl" value="">
  <br>
  <button type="submit" name="button">Añadir</button>
</form>